/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input:focus {
  outline: none;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
}

.text__gray {
  color: rgba(0, 0, 0, 0.54);
}

/*navbar*/
nav {
  box-shadow: 0px 8px 12px rgba(160, 156, 156, 0.1);
  margin-bottom: 30px;
}

.navbar {
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
}
.navbar__home {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navbar__home__title {
  font-size: 28px;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding-left: 20px;
  border-left: 1px solid #E3E3E3;
}
.navbar__option {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.navbar__avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.navbar__avatar:hover {
  cursor: pointer;
}

.svg__icon {
  margin-right: 20px;
  width: 45px;
  height: 45px;
}
.svg__items {
  width: 25px;
  height: 25px;
  margin-right: 20px;
}
.svg__items:hover {
  cursor: pointer;
}

/*main content*/
main article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;
  width: 50%;
  margin: 0 auto;
}

.article__title {
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 42px;
  font-weight: 400;
  padding: 16px 0;
  line-height: 1.25;
}
.article__info {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: medium-content-sans-serif-font, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
  margin-bottom: 40px;
}

.author__avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.author__info {
  margin-left: 10px;
  line-height: 1.5;
}

figure figcaption {
  text-align: center;
  color: rgba(0, 0, 0, 0.68);
  margin: 10px 0;
}

.cover__image img {
  width: 100%;
  transition: all 0.5s;
}
.cover__image img:hover {
  cursor: pointer;
}
.cover__image img:active {
  transform: scale(1.3);
}

.text__p {
  font-size: 21px;
  font-weight: 300;
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  margin-top: 38px;
  line-height: 1.58;
}
.text__p a {
  color: inherit;
}

.section__title {
  font-weight: 600;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
  font-size: 34px;
  margin-top: 56px;
  line-height: 1.15;
  letter-spacing: -0.015em;
}

/*main content bottom*/
.main__bottom {
  width: 50%;
  margin: 0 auto;
  padding: 20px 0;
}
.main__tag button {
  border-radius: 3px;
  border-style: none;
  background: rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.68);
  padding: 5px 10px;
  margin-bottom: 15px;
}
.main__tag button:hover {
  background: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.main__social {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.main__social__icon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main__social__icon svg {
  margin-right: 5px;
}
.main__social__icon svg:hover {
  cursor: pointer;
}
.main__clap {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.main__following {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  padding-top: 15px;
  border-top: 1px solid #E3E3E3;
}

.clap__button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: transparent;
  border: 1px solid #000000;
}
.clap__button:hover {
  cursor: pointer;
  border: 1px solid #02B875;
}
.clap__svg {
  width: 35px;
  height: 35px;
  color: #02B875;
  fill: #02B875;
}
.clap__info {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  margin-left: 20px;
  line-height: 1.5;
}

.following__author {
  display: flex;
  flex-direction: row;
  width: 49%;
  padding-right: 20px;
}
.following__avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.following__info {
  margin-left: 20px;
  width: 45%;
}
.following__title {
  margin: 5px 0;
  font-size: 20px;
}
.following__title a {
  text-decoration: none;
}
.following__title a:hover {
  color: #02B875;
}
.following__intro {
  margin-top: 10px;
  font-weight: 300;
  line-height: 1.2;
}
.following_btn {
  border-radius: 3px;
  border-style: none;
  background: #02B875;
  height: 32px;
  padding: 0 14px;
  color: #ffffff;
  margin-left: 15px;
}
.following_btn:hover {
  cursor: pointer;
}

/*aside*/
aside {
  position: fixed;
  width: 10%;
  top: 30%;
  left: 5%;
  z-index: 100;
}

.aside__title {
  font-size: 16px;
  font-weight: bold;
  margin: 7px 0;
}
.aside__text {
  word-break: break-word;
  word-wrap: break-word;
}
.aside__section {
  display: flex;
  flex-direction: column;
}
.aside__btn {
  border-radius: 3px;
  border-style: none;
  background: #02B875;
  height: 32px;
  width: 80%;
  padding: 0 14px;
  color: #ffffff;
  margin-bottom: 30px;
}
.aside__btn:hover {
  cursor: pointer;
}
.aside__icon {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  border-top: 1px solid #E3E3E3;
}
.aside__icon svg {
  margin-top: 15px;
}
.aside__icon svg:hover {
  cursor: pointer;
}
.aside__clap__group {
  display: flex;
  flex-direction: row;
}
.aside__clap__num {
  margin: 23px 0 0 5px;
  font-size: 14px;
}

/*footer*/
footer {
  background: #fafafa;
  padding: 80px 0px 60px 0;
}

/*footer suggestion*/
.suggestion {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 70%;
  margin: 0 auto 40px auto;
}
.suggestion__card {
  margin: 0 1%;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  background: #ffffff;
  padding: 10px;
  position: relative;
}
.suggestion__card:hover {
  cursor: pointer;
}
.suggestion__cover {
  height: 150px;
  background: url("https://cdn-images-1.medium.com/fit/c/800/240/1*hThqkIeX36hiBruQWqwRKw.jpeg") center center;
  background-size: cover;
  border-radius: 5px;
}
.suggestion__related {
  margin-top: 10px;
  font-size: 14px;
  padding: 5px;
}
.suggestion__title {
  font-size: 20px;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
  padding: 5px;
}
.suggestion__info {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}
.suggestion__icon {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.suggestion__clap__svg {
  fill: #02B875;
}
.suggestion__space {
  width: 15px;
  display: inline-block;
}
.suggestion__avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
.suggestion__author {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.5;
  margin-left: 10px;
  font-size: 14px;
}
.suggestion__date {
  font-size: 12px;
}

/*footer resposne*/
.response {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}
.response__title {
  font-size: 14px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.68);
  margin-bottom: 20px;
}
.response__textarea {
  position: relative;
}
.response__personal__avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  position: absolute;
  left: 20px;
  top: 15px;
}
.response__input {
  border: 0.5px solid #cccccc;
  border-radius: 2px;
  border-style: none;
  width: 100%;
  padding: 20px 20px 20px 70px;
  font-size: 20px;
  box-shadow: 1px 1px 5px rgba(5, 5, 5, 0.1);
}
.response__card {
  margin-top: 30px;
  padding: 15px 20px;
  background: #ffffff;
  box-shadow: 1px 1px 5px rgba(5, 5, 5, 0.1);
  border-radius: 2px;
}
.response__who__claps {
  font-size: 14px;
  margin-bottom: 30px;
}
.response__users__info {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.response__users__details {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  margin-left: 10px;
  line-height: 1.3;
}
.response__users__avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
.response__users__name {
  color: #1C9963;
}
.response__content {
  font-size: 18px;
  font-weight: 300;
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  margin-top: 20px;
  line-height: 1.58;
  word-break: break-word;
}
.response__clap {
  display: flex;
  align-items: center;
  font-size: 14px;
}
.response__clap__svg {
  fill: #02B875;
}
.response__clap__num {
  margin-left: 5px;
}
.response__icon {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.response__options {
  display: flex;
  align-items: center;
}

/*RWD*/
@media (max-width: 1200px) {
  .aside__title, .aside__text, .aside__btn {
    display: none;
  }
  .aside__icon {
    border-top: none;
  }

  .main__following {
    display: flex;
    flex-direction: column;
  }

  .following__author {
    width: 100%;
  }
  .following__info {
    width: 70%;
    margin-bottom: 30px;
  }

  .suggestion {
    display: flex;
    flex-direction: column;
  }
  .suggestion__card {
    margin-bottom: 30px;
  }
}
@media (max-width: 768px) {
  main article {
    width: 80%;
  }

  aside {
    display: none;
  }

  .main__bottom {
    width: 80%;
  }

  .suggestion {
    width: 85%;
  }

  .response {
    width: 80%;
  }
}

/*# sourceMappingURL=style.css.map */
