.post-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px auto;
  padding: 20px;
}

.card {
  width: 80%;
  transition: 0.3s all;
  text-align: left;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.card-text p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-title {
  margin-bottom: 0;
}

.post-list a {
  margin: 20px auto;
}

.alert .btn {
  margin-top: 0px;
}

@media(max-width: 768px) {
  .card {
    width: 80%;
  }
}