doctype html
html
	head
		meta(charset="UTF-8")
		link(rel="stylesheet", href="./css/style.css")
		title Week8: hw3 & 挑戰題
	body
		nav
			h2.nav__title Twitch Live Games
			ul.game__list
				li League of Legends
				li
				li
				li
				li
		h1.main__title
		p.main__subtitle Top 20 popular live streams
		main
		button.btn
		script(src="./js/all.js")